
li {
	display: flex;
	padding: 5px;
}

span.activity-time {
	font-weight: bold;
	position:relative;
	display: block;
	width: 100px;
}

span.activity-name {
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*stupid line thing*/

li {
	list-style-type: none;
	position: relative;
	font-size: 1.2rem;

}

li::before {
	content: " ";
	width: 15px;
	height: 15px;
	border: 1px solid #C44536;
	display: block;
	position: relative;
	top: 7px;
	right: -80px;
	border-radius: 50%;
	background-color: #C44536;
}

li:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	border: 1px solid #C44536;
	left: 92px;
	top: 20px;
	z-index: 0;
}

li:last-child:after {
	content: none;
}



