li {
	list-style-type: none;
	width: 20%;
	position: relative;
	text-align: center;
	font-size: 1.2rem;

}

li::before {
	content: " ";
	width: 15px;
	height: 15px;
	border: 1px solid #C44536;
	display: block;
	position: relative;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	background-color: #C44536;
}

li:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	border: 1px solid #C44536;
	left: -14px;
	top: 20px;
	z-index: 0;
}

li:last-child:after {
	content: none;
}

