<!--Header-->
<header>
  <h1>Your Trip</h1>
  <h4>Starts {{startDate}} </h4>
  <h4>{{days.length}} Days Long</h4>
  <h4>{{daysAway}} Days Away</h4>
</header>
<!--Main Content-->
<main>
  <div class="container">
    <div class="row">
      <!--Itinerary-->
      <div class="col-sm-4">
        <section id="itinerary-display">
          <h3>Itinerary Overview</h3>
        </section>
        <app-day *ngFor="let day of days; let i = index" [day]=day (onDayClick)='dayClicked($event)'>
          <h2>Day {{ i + 1 }} <span class="date">{{ getDate(i) }}</span></h2>
        </app-day>
        <button class="btn btn-primary" (click)='addDay()'>
          Add Day
        </button>
      </div>
      <!--Day Display-->
      <div class="col-sm-8">
        <!--Day Editor-->
        <app-edit-day
          *ngIf="selectedDay" 
          [selectedDay]="selectedDay">
        </app-edit-day>
        <!--Acitivity Display-->
        <app-activity 
          *ngFor="let activity of displayActivities" 
          [activity]=activity>
        </app-activity>
        <app-add-activity (newActivity)="onNewActivityAdded($event)"></app-add-activity>
      </div>
    </div>
  </div>
</main>