<!--Header-->
<header>
  <h1>Chile Trip</h1>
</header>
<!--Main Content-->
<main>
  <div class="container">
    <div class="row">
      <!--Itinerary-->
      <div class="col-xs-4">
        <app-day *ngFor="let day of days; let i = index" [day]=day (onDayClick)='dayClicked($event)'>
          <h2>Day {{ i + 1 }} <span>{{ getDate(i) }}</span></h2>
        </app-day>
        <button class="btn btn-primary" (click)='addDay()'>
          Add Day
        </button>
      </div>
      <!--Activities-->
      <div class="col-xs-8">
        <app-activity *ngFor="let activity of displayActivities" [activity]=activity ></app-activity>
      </div>
    </div>
  </div>
</main>