<div class="app-modal-background">
	<div class="app-modal" role="dialog">
		<div class="app-modal-header">
			<h2>Edit Trip Details</h2>
			<button type="button" class="close" aria-label="Close"></button>
		</div>
		<div class="app-modal-content">
			<form>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" #nameInput [(ngModel)]="name">
				</div>
				<div class="form-group">
					<label for="time">Time</label>
					<input type="time" class="form-control" id="time" name="time" #timeInput>
				</div>
				<div class="form-group">
					<label for="date">Date</label>
					<input type="date" class="form-control" id="date" name="date" #dateInput [(ngModel)]="startDate">
				</div>
			</form>

		</div>
		<div class="app-modal-footer">
			<button type="button" (click)="modalSave(nameInput, timeInput, dateInput)" class="btn btn-primary">Save changes</button>
	        <button type="button" (click)="modalClose()" class="btn btn-secondary">Close</button>
	    </div>
	</div>
</div>

